section {
    top: -6rem;
    position: relative;
    z-index: 10;
    color: white;
    background: linear-gradient(transparent 95px, black 96px, transparent 50%);
}

.imgs-cont {
    margin-top: 15px;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
}

section img {
    height: 250px;
    width: 170px;
    border: transparent 3px solid;
}

.imgs-cont img:hover {
    transform: scale(1.012);
    border: white 3px solid;
}

section h1 {
    font-size: 1.5rem;
}

.arrow-right {
    right: 0;
    margin-right: 35px;
}

.arrow-left {
    margin-left: -8px;
}

.arrows {
    position: absolute;
    z-index: 10;
    height: 250px;
    font-size: 3rem;
    color: white;
}

.arrows svg:hover {
    transform: scale(1.05);
}