header {
    width: calc(100% - 4rem * 2);
    height: calc(7.5rem - 2.5rem * 2);
    position: relative;
    padding: 2rem 4rem;
    align-items: center;
    background: #0a0a0a;
}

header img {
    height: 100%;
}

header img:hover {
    transform: scale(1.02);
}

.logo-div {
    width: 0;
}

header nav {
    font-weight: 700;
    height: 100%;
    width: 42rem;
    color: #efefef;
}

header ul li a{
    color: #acacac;
}

header ul li a:hover{
    color: #efefef;
    font-size: 1.003rem;
}

/*Right*/

.menu-right {
    height: 100%;
}

.menu-right h4 {
    color: white;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}

header .btn {
    color: white;
    height: 100%;
    font-size: 1.5rem;
}

header .btn:hover, .menu-right h4:hover, .avatar:hover {
    transform: scale(1.05);
}

.bell-btn span {
    position: absolute;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(50%, -175%);
}

.bell-btn:hover > .notification-n {
    transform: translate(50%, -175%) scale(0.95);
}

.more9 {
    font-size: .75rem;
}

.avatar-cont {
    height: 100%;
}

.avatar{
    height: 100%;
    background: white;
}