section {
    top: -6rem;
    position: relative;
    z-index: 10;
    color: white;
    background: linear-gradient(transparent 95px, black 96px, transparent 50%);

    h1 {
        font-size: 1.5rem;
    }

    img {
        height: 250px;
        width: 170px;
        border: transparent 3px solid;

        &:hover {
            transform: scale(1.012);
            border: white 3px solid;
        }
    }
    .imgs-cont {
        position: relative;
        margin-top: 15px;
        display: flex;
        overflow: hidden;
        width: 100%;
        margin-bottom: 40px;
    
        .arrow {
            position: absolute;
            z-index: 10;
            height: 250px;
            font-size: 3rem;
            color: white;
        
            &-left {
                margin-left: 5px;
            }
        
            &-right {
                right: 0;
                margin-right: 5px;
            }
        
            svg:hover {
                transform: scale(1.05);
            }
        }
        
        .topDiv {
            width: 300px;
            height: 260px;
        
            span {
                height: 250px;
                font-size: 250px;
                margin-left: 20px;
                font-weight: 700;
                color: black;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: white;
                letter-spacing: -35px;
            }
        
            img {
                position: absolute;
                margin-left: 124px;  
            }
        }
    }
}