@import 'Mixins';

.flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}

.tran-2 {
    transition: .2s ease-in-out;
}

.tran-8 {
    transition: .8s ease-in-out;
}

.txt-c {
    text-align: center;
}

.ai-c {
    align-items: center;
}

.pd-10 {
    padding: 10px;
}

.pd-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.font-16 {
    font-size: 1rem;
}

.point {
    cursor: pointer;
}

.btn {
    background: none;
    outline: none;
    cursor: pointer;
    border: none;
}

.no-dec {
    text-decoration: none;
    list-style: none;
    font-style: none;
}

.hide-for-tablet {
    @include breakpoint-down (medium) {
        display: none;
    }
}

.hide-for-mobile {
    @include breakpoint-down (small) {
        display: none;
    }
}